<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flash Bokeh Plot</title>
</head>
<body>
    <h1>Plot Your Points:</h1>
    <p>Please separate values with a comma</p>
    <form action="/plot" method="post">
        x-axis: <input type="text" name="xaxis">
        <br>
        y-axis: <input type="text" name="yaxis">
        <br>
        <input type="submit" value="Plot">
    </form>
</body>
</html>